header{
background-image: url(./img/wall.png);
}

main{
    background-image: url(./img/cork.png);
}
#big-text{
    font-family: 'Edu Tas Beginner', sans-serif;
}
#red_pin{
    width: 50px;
    height: 30px;

    position: absolute;
    top: -7px;
    left: 45%;
}
.card_text{
    font-family: 'Sometype Mono', sans-serif;
}
.card{
    position: relative;
} 


.overlay {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img{
    width: 30%;
    height: 50%;
}